*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Josefin Sans', sans-serif;
}


.mainheader{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainheader .logo img{
    width: 250px;
    height: 70px;
    padding-left: 50px;
}

.mainheader nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.mainheader nav a{
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .lsec{
    padding-left: 90px;

 }

 .lsec h1{
    font-size: 40px;
    font-weight: 600;
    padding-left: 8px;
    margin-top: 50px;
    margin-bottom: 20px;
 }

 .lsec h2{
    font-size: 30px;
    font-weight: 600;
    padding-left: 8px;
    margin-bottom: 20px;
 }

 .lsec button{
    padding: 8px 45px;
    text-align: center;
    font-size: 15px;
    color: rgb(0, 0, 0);
    border-radius: 15px;
    margin-bottom: 50px;
    margin-top: 10px;
 }

 .lsec button + button {
    margin-left: 20px;
}

 .lsec button:hover{
    transition-duration: 0.4s;
    background-color: rgb(41, 199, 213);
    color: white;
 }

 .mainheader nav a:hover{
    transition-duration: 0.4s;
    color: rgb(0, 166, 255);

 }

/*-----footer style------*/

 .footer {
    position: relative;
    margin-top: 45px;
    background: #5dc5d1;
}

.footer .container-fluid {
    padding: 60px 0 0 0;
}

.footer .footer-info {
    position: relative;
    width: 100%;
    text-align: center;
}

.footer .footer-info h2 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
}

.footer .footer-info h3 {
    margin-bottom: 25px;
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
}

.footer .footer-menu {
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer .footer-menu p {
    color: #ffffff;
    font-size: 22px;
    font-weight: 600;
    line-height: 20px;
    padding: 0 15px;
    border-right: 1px solid #ffffff;
}

.footer .footer-menu p:last-child {
    border: none;
}

.footer .copyright {
    position: relative;
    text-align: center;
    margin-top: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer .copyright::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 1px;
    top: 0;
    left: 25%;
    background: rgba(256, 256, 256, .2);
}

.footer .copyright p {
    margin: 0;
    color: #ffffff;
}

.footer .copyright .col-md-6:last-child p {
    text-align: right;
}

.footer .copyright p a {
    color: #ffffff;
    font-weight: 600;
}

.footer .copyright p a:hover {
    color: #414141;
}

@media (max-width: 575.98px) {
    .footer .footer-info h2 {
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 600;
    }

    .footer .footer-info h3 {
        margin-bottom: 20px;
        font-size: 16px;
    }

    .footer .footer-menu p {
        font-size: 16px;
        line-height: 16px;
        padding: 0 5px;
    }
}

/*-----Categories style-----*/

main{
    display: flex;
    justify-content: space-around;
}

.sec1 h1{
    margin-top: 50px;
    margin-bottom: 20px;
}

.sec2 h1{
    margin-top: 50px;
    margin-bottom: 20px;
}

.sec3 h1{
    margin-top: 50px;
    margin-bottom: 20px;
}

.sec4 h1{
    margin-top: 50px;
    margin-bottom: 20px;
}

.sec5 h1{
    margin-top: 50px;
    margin-bottom: 20px;
}

.sec6 h1{
    margin-top: 50px;
    margin-bottom: 20px;
}

.h1{
    width: 100%;
    height: 100vh;
    background-image: url('/images/bg.png');
    background-repeat: no-repeat;
    background-size: 100% 110%;
}

/********* Contact CSS *********/
/*******************************/
.contact {
    position: relative;
    width: 100%;
    margin: 45px 0;
    background: #18a4ca;
}

.contact .contact-form {
    position: relative;
    padding: 90px 0 90px 45px;
    background: #addce9;
}

.contact .contact-form input {
    color: #0b0b0b;
    padding: 15px 0;
    background: none;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(256, 256, 256, .5);
}

.contact .contact-form textarea {
    color: #201919;
    height: 90px;
    padding: 15px 0;
    background: none;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(256, 256, 256, .5);
}

.contact .contact-form .form-control::placeholder {
    color: #030303;
    opacity: 1;
}

.contact .contact-form .form-control:-ms-input-placeholder,
.contact .contact-form .form-control::-ms-input-placeholder {
    color: #060606;
}

.contact .contact-form .btn {
    margin-top: 35px;
    color: #368ec1;
    background: #050404;
    box-shadow: inset 0 0 0 50px #ffffff;
}

.contact .contact-form .btn:hover {
    color: #000000;
    background: transparent;
    box-shadow: inset 0 0 0 0 #ffffff;
    border-color: #ffffff;
}

.contact .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 14px;
    font-style: italic;
    color: #000000;
}

@media (max-width: 767.98px) {
    .contact .container-fluid {
        background: none;
    }
    
    .contact .contact-form {
        padding: 90px 0;
    }
}

/*-----contact end-----*/

/*------logout button----------*/

.logout-container {
    position: absolute;
    top: 90px;
    right: 30px;
}

.logout-button {
    text-decoration: none;
    padding: 8px 12px;
    background-color: #8bc5d5;
    color: #fff;
    border-radius: 6px;
}

.logout-button:hover {
    background-color: rgb(54, 185, 221);
}

/*------Social fonts start----------*/

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .social-icons a {
    display: inline-block;
    margin-right: 30px;
    font-size: 30px;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #298294;
  }
  
  .facebook-icon {
    color: #3b5998;
  }
  
  .instagram-icon {
    color: #c32aa3;
  }
  
  .linkedin-icon {
    color: #0077b5;
  }
  
  .youtube-icon {
    color: #c4302b;
  }

  /*------Social fonts start----------*/


